<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/homeuserstyle.css">
    <title>Home</title>
  </head>
    <body>
        <header>
            <div class="navbar">
                <div class="logo"><a href="#">AGRO-DATA</a>
                    <ul class="links">
                        <li href="">INICIO</li>
                        <li href="">CULTIVOS</li>
                        <li href="">CALENDARIO</li>
                        <li href="">FERTILIZANTES</li>
                        <li href="">PESTICIDAS</li>
                        <li href="">PLAGAS</li>
                        <li href="">CALCULADORA AGRICOLA</li>
                        <li href="">QUIENES SOMOS</li>
                        <li href="">SALIR</li>
                    </ul>
                    <a href="" class="action-btn">Get</a>
                </div>
            </div>
        </header>      
    </body>
</html> 