<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CULTIVOS</title>
    <!--      CSS DEL HOME       -->
    <link rel="stylesheet" href="/css/homeuserstyle.css"> 
    <link rel="icon" href="/icon.png" type="image/x-icon"> 
    <link rel="stylesheet" href="/css/cultivosstyle.css">  
    <!-- <a href="https://www.flaticon.es/iconos-gratis/hoja" title="hoja iconos">Hoja iconos creados por Roundicons - Flaticon</a> -->
</head>
<body>
    <!--      BARRA DE NAVEGACION   -->
    <nav>
        <div class="logo">
            <img src="/icon.png" class="logo">
        </div>
        <!--      ENLACES DE NAVEGACION   -->
        <ul id="menuList">
                <li><a href="/components/usuario/home.html" >INICIO</a></li>
                <li><a href="/components/huerta/cultivos.html" class="active">CULTIVOS</a></li>
                <li><a href="/components/huerta/fertilizantes.html">FERTILIZANTES</a></li>
                <li><a href="/components/huerta/pesticidas.html">PESTICIDAS</a></li>
                <li><a href="/components/huerta/plagas.html">PLAGAS</a></li>
                <li><a href="/components/usuario/calculadoraAgri.html">CALCULADORA AGRICOLA</a></li>
                <li><a href="/components/usuario/calendario.html">CALENDARIO</a></li>                        
                <li><a href="/components/usuario/somos.html">QUIENES SOMOS</a></li>
                <li><a href="/index.html">SALIR</a></li>
        </ul>
        <!--    ICONO DEL MENU     -->
        <div class="menu-icon">
            <i class="fa-solid fa-bars" onclick="toggleMenu()"></i>
        </div>
    </nav>
    <!-- CARTAS -->
    <div class="main">
        <br>
        <h1>Conoce que puedes cultivar</h1>
        <ul class="cards">
          <li class="cards_item">
            <div class="card">
              <!-- 4608 x 3456 -->
              <div class="card_image"><img src="https://cdn.pixabay.com/photo/2016/08/09/13/53/swiss-chard-1580676_1280.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Acelgas</h2>
                <p class="card_text">3 MESE PARA COSECHAR</p>
                <button class="btn card_btn">CULTIVAR</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://cdn.pixabay.com/photo/2023/08/26/03/20/garlic-8214036_1280.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Ajo</h2>
                <p class="card_text">7 MESES PARA COSECHAR</p>
                <button class="btn card_btn">CULTIVAR</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://cdn.pixabay.com/photo/2017/08/05/15/43/vegetable-2584412_960_720.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Berenjena</h2>
                <p class="card_text">4 MESES PARA COSECHAR</p>
                <button class="btn card_btn">CULTIVAR</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://cdn.pixabay.com/photo/2018/10/10/07/10/agriculture-3736561_1280.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Calabaza</h2>
                <p class="card_text">4 MESES PARA COSECHAR</p>
                <button class="btn card_btn">CULTIVAR</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://cdn.pixabay.com/photo/2018/07/15/20/43/onion-3540502_1280.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Cebolla</h2>
                <p class="card_text">7 MESES PARA COSECHAR</p>
                <button class="btn card_btn">CULTIVAR</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://cdn.pixabay.com/photo/2016/06/01/15/05/cilantro-1429136_1280.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Cilantro</h2>
                <p class="card_text">2 MESES PARA COSECHAR</p>
                <button class="btn card_btn">CULTIVAR</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      
      <h3 class="made_by">ECHO POR AGRO-DATA</h3>
    <!--      SCRIPT DEL HOME     -->
    <script src="/js/homemain.js"></script>
    <!--      SCRIPT PARA ANIMACION DEL MENU    -->
    <script src="https://kit.fontawesome.com/f8e1a90484.js" crossorigin="anonymous"></script>
</body>
</html>
