<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLAGAS</title>
    <!--      CSS DEL HOME       -->
    <link rel="stylesheet" href="/css/homeuserstyle.css"> 
    <link rel="icon" href="/icon.png" type="image/x-icon">   
    <!-- <a href="https://www.flaticon.es/iconos-gratis/hoja" title="hoja iconos">Hoja iconos creados por Roundicons - Flaticon</a> -->
</head>
<body>
    <!--      BARRA DE NAVEGACION   -->
    <nav>
        <div class="logo">
            <img src="/icon.png" class="logo">
        </div>
        <!--      ENLACES DE NAVEGACION   -->
        <ul id="menuList">
                <li><a href="/components/usuario/home.html" >INICIO</a></li>
                <li><a href="/components/huerta/cultivos.html" >CULTIVOS</a></li>
                <li><a href="/components/huerta/fertilizantes.html" >FERTILIZANTES</a></li>
                <li><a href="/components/huerta/pesticidas.html" >PESTICIDAS</a></li>
                <li><a href="/components/huerta/plagas.html" class="active">PLAGAS</a></li>
                <li><a href="/components/usuario/calculadoraAgri.html">CALCULADORA AGRICOLA</a></li>
                <li><a href="/components/usuario/calendario.html">CALENDARIO</a></li>                        
                <li><a href="/components/usuario/somos.html">QUIENES SOMOS</a></li>
                <li><a href="/index.html">SALIR</a></li>
        </ul>
        <!--    ICONO DEL MENU     -->
        <div class="menu-icon">
            <i class="fa-solid fa-bars" onclick="toggleMenu()"></i>
        </div>
    </nav>

    <!--      SCRIPT DEL HOME     -->
    <script src="/js/homemain.js"></script>
    <!--      SCRIPT PARA ANIMACION DEL MENU    -->
    <script src="https://kit.fontawesome.com/f8e1a90484.js" crossorigin="anonymous"></script>
</body>
</html>
